language: node_js
node_js:
  - 0.10
before_install:
  - mkdir -p node_modules
  - npm install -g grunt-cli
  - npm install -g bower
install:
  - npm install grunt
  - npm install grunt-contrib-jasmine
  - bower install
script: grunt test --verbose --force